.page-home {
  @include pxRem(padding-bottom, 145);
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  .section-hero {
    background: url("../../images/hero-4-bg.jpg") no-repeat center / cover;
    height: map-get($heights, hero-height);
    position: relative;
    overflow: hidden;
    .section-img {
      @include pxRem(padding-top, 75);
      position: relative;
      .circle {
        animation: circle 50s 0.3s linear infinite;
        position: absolute;
        z-index: map-get($zindexs, total);
        right: 5%;
        overflow: hidden;
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
      .people {
        @include pxRem(top, 80);
        $height1: map-get($heights, hero-height);
        position: absolute;
        z-index: map-get($zindexs, people);
        right: 10%;
        height: calc(#{$height1} - #{f-pxRem(75)});
      }
    }
    .section-content {
      @include pxRem(padding-top, 150);
      .sub-title {
        @include pxRem(font-size, 14);
        @include pxRem(border-radius, 30);
        @include pxRem(line-height, 38);
        @include pxRem(padding, 0 20);
        @include pxRem(margin-bottom, 30);
        display: inline-block;
        font-weight: map-get($font-weight, verybold);
        text-transform: uppercase;
        background: map-get($colors, background-hero);
        color: map-get($colors, white);
        letter-spacing: 1px;
      }
      .title {
        @include pxRem(font-size, 72);
        @include pxRem(line-height, 92);
        color: map-get($colors, white);
        font-weight: map-get($font-weight, bold);
      }
      .intro {
        @include pxRem(font-size, 18);
        @include pxRem(line-height, 30);
        font-weight: map-get($font-weight, medium);
        color: map-get($colors, white);
        margin-top: 5%;
        opacity: 0;
      }
      .btn.btn-read-more {
        @include pxRem(margin-top, 60);
        @include pxRem(padding, 0 55);
        @include pxRem(height, 60);
        @include pxRem(line-height, 56);
        @include pxRem(font-size, 18);
      }
    }
  }

  .section-features {
    .features {
      position: relative;
    }
    .features-list {
      z-index: map-get($zindexs, feature);
      position: absolute;
      top: -50%;
      transform: translateY(-50%);
      &-item {
        @include pxRem(border-radius, 10);
        @include pxRem(padding, 40 35);
        background: url("../../images/features-4-bg.jpg") no-repeat center / cover;
        align-items: center;
        justify-content: center;
      }
      &-title {
        @include pxRem(padding-right, 20);
        @include pxRem(line-height, 30);
        @include pxRem(font-size, 22);
        color: map-get($colors, white);
        font-weight: map-get($font-weight, bold);
      }
    }
  }
  .section-about {
    @include pxRem(padding-bottom, 270);
    @include pxRem(padding-top, 230);
    .section-sub-title {
      @include pxRem(margin-bottom, 12);
    }
    .about {
      margin: 0 auto;
      @include pxRem(max-width, 760);
      display: block;
      text-align: center;
      &-img {
        position: relative;
        .abshape {
          @include pxRem(right, 60);
          @include pxRem(top, 170);
          position: absolute;
          z-index: map-get($zindexs, total);
          img {
            @include pxRem(border-radius, 10);
          }
        }
      }
      &-1 {
        position: absolute;
        z-index: map-get($zindexs, total1);
        top: 0;
        img {
          @include pxRem(border-radius, 10);
        }
      }
      &-2 {
        @include pxRem(bottom, -132);
        position: absolute;
        z-index: map-get($zindexs, total2);
        right: 0;
        img {
          @include pxRem(border-radius, 10);
        }
      }
      &-3 {
        @include pxRem(top, 38);
        @include pxRem(right, 14);
        position: absolute;
        z-index: map-get($zindexs, total2);
        img {
          @include pxRem(border-radius, 10);
        }
      }
      &-content {
        @include pxRem(margin-left, 28);
      }
      &-text {
        @include pxRem(padding-left, 115);
        .title {
          @include pxRem(font-size, 24);
          @include pxRem(line-height, 36);
          color: map-get($colors, txt-black);
          font-weight: map-get($font-weight, bold);
        }
        p {
          @include pxRem(font-size, 16);
          @include pxRem(line-height, 30);
          @include pxRem(margin-top, 35);
          font-family: "Manrope", sans-serif;
          font-weight: map-get($font-weight, normal);
          color: map-get($colors, gray-black-text);
        }
      }
      &-list {
        @include pxRem(margin-top, 25);
        .check {
          &-item {
            @include pxRem(font-size, 16);
            @include pxRem(line-height, 24);
            display: flex;
            align-items: center;
            font-weight: map-get($font-weight, bold);
            color: map-get($colors, txt-black);
          }
          &-list-icon {
            @include pxRem(margin-right, 20);
            display: flex;
            align-items: center;
            color: map-get($colors, primary);
          }

          &-list-text {
            &:hover {
              color: map-get($colors, primary);
            }
          }
        }
      }
      &-author {
        display: flex;
        align-content: space-between;
        border-top: #{f-pxRem(1)} solid map-get($colors, gray-light);
        @include pxRem(margin-top, 40);
        @include pxRem(padding-top, 30);
      }
    }
    .section-about-content {
      @include pxRem(margin-top, 105);
    }
  }
  .section-services {
    background: url("../../images/features-6-bg.jpg") no-repeat center / cover;
  }
  .service {
    &-heading {
      align-items: center;
    }
    &-text {
      @include pxRem(padding, 0 12);
    }
    &-title {
      @include pxRem(max-width, 690);
    }
    .section-title {
      @include pxRem(font-size, 48);
      @include pxRem(line-height, 54);
      font-weight: map-get($font-weight, verybold);
      color: map-get($colors, txt-black);
      .title-blue {
        color: map-get($colors, primary);
      }
    }
    &-content {
      @include pxRem(padding-top, 40);
    }
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      @include pxRem(padding, 0 12);
      &-box {
        @include pxRem(padding, 40);
        @include pxRem(margin-top, 30);
        @include pxRem(border-radius, 10);
        border: 1px solid map-get($colors, gray-light);
        background-color: map-get($colors, white);
      }
      &-content1 {
        @include pxRem(margin-left, 30);
      }
      &-text {
        @include pxRem(font-size, 16);
        @include pxRem(line-height, 30);
        @include pxRem(margin-top, 10);
        font-weight: map-get($font-weight, normal);
        color: map-get($colors, gray-black-text);
      }
      &-title {
        @include pxRem(font-size, 20);
        @include pxRem(line-height, 30);
        font-weight: map-get($font-weight, bold);
        color: map-get($colors, services-title);
      }
      &-img {
        position: relative;
        &::before {
          content: "";
          @include pxRem(left, -12);
          @include pxRem(top, 15);
          @include pxRem(width, 50);
          @include pxRem(height, 50);
          position: absolute;
          background: map-get($colors, testimonial);
          border-radius: 50%;
          z-index: 0;
        }
        img {
          @include pxRem(max-width, 50);
          position: relative;
        }
      }
    }
  }
  .service-button {
    align-items: center;
    justify-content: flex-end;
    .btn.btn-service {
      @include pxRem(height, 60);
      @include pxRem(width, 235);
      @include pxRem(border-radius, 5);
      @include pxRem(font-size, 18);
      text-align: center;
      font-weight: map-get($font-weight, bold);
    }
  }
  .section-banner {
    @include pxRem(padding-top, 120);
    @include pxRem(padding-bottom, 130);
    background: url("../../images/counter-bg.jpg") no-repeat center / cover;
    .banner {
      flex-direction: column;
      align-items: center;
      .section-title {
        @include pxRem(font-size, 50);
        @include pxRem(line-height, 60);
        color: map-get($colors, white);
      }
      .section-sub-title {
        @include pxRem(margin-top, 35);
        @include pxRem(line-height, 24);
        @include pxRem(font-size, 16);
        color: map-get($colors, white);
        font-weight: map-get($font-weight, medium);
        text-transform: none;
        .sub-title-color {
          color: map-get($colors, primary);
          text-transform: capitalize;
          text-decoration: underline;
          font-weight: map-get($font-weight, bold);
        }
      }
    }
  }
  .testimonial {
    &-img {
      @include pxRem(padding, 0 12);
      &-item {
        @include pxRem(padding-left, 25);
        @include pxRem(padding-right, 50);
        position: relative;
        &::before {
          @include pxRem(width, 430);
          @include pxRem(height, 430);
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(-90deg, #54d6eb 0%, #035cdd 100%);
          border-radius: 50%;
          transform: translate(#{f-pxRem(80)}, #{f-pxRem(80)});
          z-index: -1;
        }
        &::after {
          @include pxRem(width, 430);
          @include pxRem(height, 430);
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(-90deg, #54d6eb 0%, #035cdd 100%);
          opacity: 0.4;
          border-radius: 50%;
          transform: translate(#{f-pxRem(80)}, #{f-pxRem(80)}) scale(1.23);
          z-index: -1;
        }
      }
    }
    &-text {
      @include pxRem(padding-left, 12);
    }
    &-content {
      @include pxRem(padding-top, 35);
      .section-title {
        text-align: center;
      }
    }
    .slider {
      @include pxRem(padding, 35 42 50);
      @include pxRem(border-radius, 10);
      @include pxRem(margin-top, 50);
      @include pxRem(margin-left, 10);
      background: map-get($colors, white);
      box-shadow: 0 0 #{f-pxRem(111)} 0 rgba(0, 0, 0, 0.15);
      border-bottom: #{f-pxRem(7)} solid map-get($colors, primary);
      &-text {
        @include pxRem(font-size, 24);
        @include pxRem(margin-top, 30);
        @include pxRem(line-height, 44);
        font-weight: map-get($font-weight, normal);
        color: map-get($colors, gray-black-text);
      }
      &-content {
        text-align: center;
        img {
          margin: auto;
        }
        .author-text {
          @include pxRem(margin-top, 50);
          text-align: center;
          .name {
            @include pxRem(font-size, 16);
            @include pxRem(line-height, 20);
            color: map-get($colors, blue-dark);
          }
          .designation {
            color: map-get($colors, primary);
            @include pxRem(font-size, 12);
          }
        }
      }
    }
  }
  .section-testimonial {
    @include pxRem(padding, 100 0);
  }
  .section-brand {
    background: map-get($colors, background-brand);
    .brand {
      text-align: center;
      .section-title {
        @include pxRem(font-size, 22);
        @include pxRem(margin-top, -7);
        font-weight: map-get($font-weight, medium);
        color: map-get($colors, brand-background);
      }
      &-img {
        @include pxRem(margin, 45 auto 0);
        width: 100%;
      }
      &-list {
        justify-content: space-around;
        align-items: center;
        .slick-track {
          display: flex;
          align-items: center;
          .slick-slide {
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      }
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        height: 100%;
      }
    }
  }
  .section-blog {
    @include pxRem(margin-bottom, 60);
    .blog {
      &-title {
        @include pxRem(max-width, 690);
        margin: 0 auto;
        text-align: center;
        .section-sub-title {
          @include pxRem(margin-bottom, 12);
        }
      }
      &-list {
        justify-content: space-between;
      }
      &-content {
        @include pxRem(padding-top, 35);
      }
      &-item {
        @include pxRem(padding, 0 8);
      }
      &-item:first-child {
        @include pxRem(margin-left, -8);
      }
      &-item:last-child {
        @include pxRem(margin-right, -8);
      }
      &-single {
        @include pxRem(margin-top, 30);
        position: relative;
        background: map-get($colors, white);
        box-shadow: 0px 0px #{f-pxRem(98)} 0px rgba(0, 0, 0, 0.07);
        .img-blog {
          @include pxRem(border-radius, 10);
          overflow: hidden;
          img {
            transition: all 0.3s linear;
          }
        }
        &:hover > .img-blog img {
          transform: scale(1.1);
        }
        .top-meta {
          @include pxRem(top, 35);
          @include pxRem(left, 30);
          @include pxRem(font-size, 14);
          @include pxRem(border-radius, 5);
          @include pxRem(line-height, 12);
          @include pxRem(padding, 10);
          @include pxRem(width, 65);
          @include pxRem(height, 65);
          position: absolute;
          background-image: linear-gradient(120deg, #54d6eb 0%, #035cdd 100%);
          color: map-get($colors, white);
          text-align: center;
          .day {
            @include pxRem(font-size, 28);
            @include pxRem(line-height, 30);
            font-weight: map-get($font-weight, regular);
            display: block;
            text-align: center;
          }
        }
      }
      &-text {
        @include pxRem(padding, 40);
        @include pxRem(bottom, 10);
        position: absolute;
        .content-title {
          @include pxRem(margin-top, 15);
          @include pxRem(padding-right, 20);
          a {
            @include pxRem(font-size, 22);
            @include pxRem(line-height, 30);
            color: map-get($colors, white);
            font-weight: map-get($font-weight, bold);
            &:hover {
              color: map-get($colors, primary);
            }
          }
        }
      }
      &-meta {
        .meta-item {
          @include pxRem(margin-right, 15);
          @include pxRem(font-size, 14);
          @include pxRem(line-height, 24);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: map-get($colors, white);
          font-weight: map-get($font-weight, medium);
          .blog-icon {
            @include pxRem(margin-right, 10);
            color: map-get($colors, primary);
          }
          a {
            color: map-get($colors, white);
            &:hover {
              color: map-get($colors, primary);
            }
          }
        }
      }
    }

    @keyframes circle {
      from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
      }
    }
  }
}
.section-form {
  @include pxRem(height, 400);
  position: absolute;
  bottom: 0;
  z-index: 1;
  top: 100%;
  transform: translateY(-50%);
  width: 100%;
  .form {
    @include pxRem(height, 400);
    @include pxRem(padding, 0 50);
    @include pxRem(border-radius, 10);
    flex-direction: column;
    justify-content: center;
    background: url("../../images/subscribe-bg.jpg") no-repeat center / cover;
    &-content {
      @include pxRem(margin-bottom, 40);
      text-align: center;
    }
    &-sub {
      width: 100%;
      justify-content: center;
      &-input {
        @include pxRem(height, 60);
        @include pxRem(border-top-left-radius, 4);
        @include pxRem(border-bottom-left-radius, 4);
        border: none;
      }
      ::placeholder {
        @include pxRem(font-size, 18);
        color: map-get($colors, placeholder);
        font-weight: map-get($font-weight, normal);
      }
      input:not([type="submit"]:focus) {
        @include pxRem(padding, 10 25);
        background: map-get($colors, white);
        color: map-get($colors, input);
        outline: none;
        font-weight: map-get($font-weight, medium);
      }
      .btn-subscribe {
        @include pxRem(border-radius, 4);
        @include pxRem(font-size, 16);
        background: map-get($colors, primary);
        color: map-get($colors, white);
        height: inherit;
        border: #{f-pxRem(1)} solid map-get($colors, primary);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-weight: map-get($font-weight, bold);
      }
    }
  }
  .section-sub-title {
    @include pxRem(font-size, 20);
    @include pxRem(margin-top, 10);
    color: map-get($colors, white);
    text-transform: none;
    font-weight: map-get($font-weight, normal);
    letter-spacing: 0;
  }
  .section-title {
    @include pxRem(font-size, 36);
    @include pxRem(line-height, 40);
    color: map-get($colors, white);
  }
}
.active {
  @include pxRem(right, 50);
  @include pxRem(bottom, 45);
  @include pxRem(font-size, 22);
  @include pxRem(width, 45);
  @include pxRem(height, 45);
  position: fixed;
  align-items: center;
  justify-content: center;
  border: #{f-pxRem(2)} solid map-get($colors, primary);
  color: map-get($colors, primary);
  border-radius: 50%;
  z-index: map-get($zindexs, active);
  cursor: pointer;
  animation: active-height 0.3s ease-in-out;
}

.content {
  animation: animate 1.2s ease 0.6s;
}
.content.title {
  animation-delay: 0.8s;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(#{f-pxRem(200)});
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.isVisible-btn {
  animation: isVisible-text 1.2s ease 1s;
}

@keyframes isVisible-text {
  from {
    transform: translateY(#{f-pxRem(200)});
  }
  to {
    transform: translateY(0);
  }
}
@keyframes active-height {
  from {
    right: 0;
  }
  to {
    @include pxRem(right, 45);
  }
}
