.page-footer {
  background: map-get($colors, bg-gray);
  text-align: center;
  background: url("../../images/footer-bg-3.jpg") no-repeat center / cover;
  .footer {
    @include pxRem(font-size, 18);
    &-logo {
      img {
        @include pxRem(width, 170);
        @include pxRem(height, 56);
      }
    }
    &-img {
      @include pxRem(width, 40);
      @include pxRem(height, 40);
      background-color: map-get($colors, icon-footer);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .icon {
        @include pxRem(line-height, 40);
        color: map-get($colors, white);
        font-weight: map-get($font-weight, normal);
        cursor: pointer;
        &:hover {
          color: map-get($colors, primary);
        }
      }
    }
    &-bottom {
      border-top: #{f-pxRem(1)} solid map-get($colors, border-footer);
    }
    &-list {
      @include pxRem(padding, 20 0);
      justify-content: space-between;
      color: map-get($colors, white);
      align-items: center;
      &-left {
        color: map-get($colors, info-text);
        font-weight: map-get($font-weight, normal);
      }
    }
    &-top {
      @include pxRem(padding-top, 290);
      @include pxRem(padding-bottom, 70);
      &-item {
        text-align: left;
      }
    }
    &-item {
      @include pxRem(margin-top, 15);
      a {
        @include pxRem(font-size, 14);
        color: map-get($colors, info-text);
        font-weight: map-get($font-weight, normal);
        line-height: inherit;
        transition: all 0.3s linear;
      }
      a:hover {
        @include pxRem(padding-left, 15);
        color: map-get($colors, primary);
      }
    }
  }
  .info {
    color: map-get($colors, info-text);
    &-icon {
      color: map-get($colors, primary);
    }
    &-item {
      @include pxRem(font-size, 16);
      @include pxRem(line-height, 20);
      color: map-get($colors, info-text);
      font-weight: map-get($font-weight, medium);
    }
    a:hover {
      color: map-get($colors, primary);
    }
    cursor: pointer;
  }
  .section-title {
    @include pxRem(font-size, 20);
    color: map-get($colors, white);
  }
}
