.shink {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($zindexs, shink);
  box-shadow: 0 0 #{f-pxRem(16)} 0 rgba(0, 0, 0, 0.07);
  animation: shink-height 0.5s ease-in-out;
  animation-direction: alternate;
}
.page-header {
  width: 100%;
  background: map-get($colors, white);

  .header {
    justify-content: space-between;
    align-items: center;
    &-logo {
      @include pxRem(width, 150);
      @include pxRem(height, 50);
    }
    &-list-item {
      justify-content: flex-end;
      .item-menu {
        @include pxRem(padding, 35 25);
        @include pxRem(font-size, 15);
        display: inline-block;
        position: relative;
        font-weight: map-get($font-weight, bold);
        text-transform: capitalize;
        cursor: pointer;
        &:hover > .sub-menu {
          opacity: 1;
          visibility: visible;
          top: 70%;
        }
        &:first-child > a {
          color: map-get($colors, primary);
        }
        &:hover > a {
          color: map-get($colors, primary);
        }
      }
      .icon-down-menu {
        @include pxRem(font-size, 11);
        @include pxRem(padding, 5);
      }
    }
    .search {
      &::before {
        @include pxRem(margin-left, 30);
        @include pxRem(height, 30);
        @include pxRem(width, 1);
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: map-get($colors, gray-light);
      }
    }
    .icons {
      @include pxRem(font-size, 20);
      cursor: pointer;
    }
    .sub-menu {
      @include pxRem(top, 80);
      @include pxRem(width, 270);
      @include pxRem(padding, 20 0);
      @include pxRem(border-radius, 5);
      transform: translateY(#{f-pxRem(25)});
      position: absolute;
      left: 0;
      background: map-get($colors, white);
      box-shadow: 0 #{f-pxRem(2)} #{f-pxRem(29)} rgba(0, 0, 0, 0.05);
      border-top: #{f-pxRem(2)} solid map-get($colors, primary);
      opacity: 0;
      visibility: hidden;
      z-index: map-get($zindexs, all);
      transition: all 0.3s linear;
      .sub-item {
        @include pxRem(padding, 10 30);
        position: relative;
        &:hover > .sub-menu {
          position: absolute;
          top: 100%;
        }
        &-link {
          @include pxRem(font-size, 15);
          font-weight: map-get($font-weight, medium);
          position: relative;
          text-transform: capitalize;
          &::before {
            @include pxRem(width, 10);
            @include pxRem(height, 2);
            @include pxRem(left, -5);
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: map-get($colors, primary);
            opacity: 0;
          }
          &:hover {
            color: map-get($colors, primary);
            @include pxRem(padding-left, 15);
            &::before {
              opacity: 1;
              animation: sub-item 0.3s linear;
            }
          }
        }
      }
    }
    &-right {
      align-items: center;
      position: relative;
      .item-icon {
        @include pxRem(width, 40);
        @include pxRem(font-size, 18);
        margin: 0 auto;
        &:hover {
          color: map-get($colors, primary);
        }
        .count {
          @include pxRem(width, 20);
          @include pxRem(height, 20);
          @include pxRem(line-height, 20);
          @include pxRem(font-size, 10);
          @include pxRem(top, 5);
          @include pxRem(left, 60);
          text-align: center;
          background: map-get($colors, primary);
          border-radius: 50%;
          font-weight: map-get($font-weight, normal);
          display: inline-block;
          color: map-get($colors, white);
          cursor: pointer;
          position: absolute;
        }
      }
      .btn.get-start {
        @include pxRem(border-radius, 5);
        @include pxRem(font-size, 18);
        @include pxRem(height, 50);
        @include pxRem(line-height, 45);
        @include pxRem(padding, 0 47);
        @include pxRem(margin-left, 10);
        font-weight: map-get($font-weight, bold);
        border: #{f-pxRem(2)} solid map-get($colors, primary);
        display: inline-block;
        position: relative;
        overflow: hidden;
        background-color: map-get($colors, primary);
        color: map-get($colors, white);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        &:hover {
          color: map-get($colors, primary);
          &::after {
            transform: skewX(45deg) scale(1, 1);
          }
        }
        &::after {
          content: "";
          position: absolute;
          background-color: map-get($colors, white);
          width: 150%;
          height: 150%;
          transform: skewX(45deg) scale(0, 1);
          transition: all 0.5s ease 0s;
          left: -20%;
          right: -20%;
          top: -4%;
          z-index: -1;
          border: 0;
        }
      }
    }
  }
}
@keyframes shink-height {
  from {
    height: 0;
    @include pxRem(margin-top, -150);
  }
  to {
    @include pxRem(height, 76);
    margin-top: 0;
  }
}
@keyframes sub-item {
  from {
    @include pxRem(left, -25);
  }
  to {
    @include pxRem(left, -5);
  }
}
@media screen {
}
